<section class="bg-gray-50 dark:bg-gray-900 login-background">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <a
      href="#"
      class="flex items-center mb-6 text-3xl font-semibold text-gray-900 dark:text-white"
    >
      <img class="w-8 h-9" src="assets/app-logo-2.png" alt="logo" />
      iyembro
    </a>
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Sign in to your account
        </h1>
        <form class="space-y-4 md:space-y-6" [formGroup]="loginForm">
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your email
            </label>
            <input
              pInputText
              id="name1"
              formControlName="email"
              type="text"
              class="w-full"
            />
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Password</label
            >
            <p-password
              [feedback]="false"
              formControlName="password"
              styleClass="sessions-password block w-full"
            />
          </div>
          <div class="h-3 my-0 py-0">
            <!-- Adjust the height class as needed -->
            <p
              class="text-red-500 font-medium text-xs"
              *ngIf="loginErrorMessage"
            >
              {{ loginErrorMessage }}
            </p>
          </div>

          <div class="flex items-center justify-between">
            <div class="flex items-start"></div>
            <a
              href="#"
              class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500"
              >Forgot password?</a
            >
          </div>
          <p-button
            label="Login"
            (click)="onClickTraditionalLogin()"
            severity="help"
            styleClass="w-full mt-4"
            [disabled]="loginForm.invalid"
          />
          <div class="flex items-center justify-center mt-4">
            <p class="text-sm font-medium">OR</p>
            <p></p>
          </div>
          <div class="flex justify-center items-center">
            <div>
              <div
                id="g_id_onload"
                data-client_id="654581949282-dmvkqbivaa8rmvem7ipjbas30p5akkrm.apps.googleusercontent.com"
                data-context="use"
                data-ux_mode="popup"
                data-itp_support="true"
                data-callback="onClickGoogleLogin"
              ></div>
              <div
                class="g_id_signin"
                data-type="standard"
                data-shape="pill"
                data-theme="filled_blue"
                data-text="signin_with"
                data-size="large"
                data-logo_alignment="left"
              ></div>
            </div>
          </div>

          <!-- <p-button
            label="Sign In with Google"
            id="google-signin-button"
            (click)="onClickLoginWithGoogle()"
            severity="danger"
            icon="pi pi-google"
            styleClass="w-full mt-4"
          /> -->

          <!-- <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Don’t have an account yet?
            <a
              (click)="onClickRegister()"
              (keydown)="handleKeyDown($event)"
              class="font-medium cursor-pointer text-primary-600 hover:underline dark:text-primary-500"
              tabindex="0"
              >Sign up</a
            >
          </p> -->
        </form>
      </div>
    </div>
  </div>
</section>
