<!-- <p-tabs value="0" [lazy]="true" class="mt-1">
  <p-tablist>
    <p-tab value="0">Members</p-tab>
    <p-tab value="1">Join Requests</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-member-list></app-member-list>
    </p-tabpanel>
    <p-tabpanel value="1">
      <app-member-join-requests></app-member-join-requests>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs> -->
<div class="mt-6 border-b">
  <p-selectbutton
    [options]="tabOptions"
    [(ngModel)]="selectedTab"
    optionLabel="label"
    optionValue="value"
    aria-labelledby="basic"
  >
    <ng-template #item let-item>
      <i [class]="item.icon"></i>
      <p>{{ item.label }}</p>
    </ng-template>
  </p-selectbutton>
</div>
<div *ngIf="selectedTab === 'members'">
  <app-member-list></app-member-list>
</div>
<div *ngIf="selectedTab === 'requests'">
  <app-member-join-requests></app-member-join-requests>
</div>
