<div>
  <div
    class="organization-background bg-cover bg-center h-[150px] lg:h-[250px] relative"
    [ngStyle]="{
      'background-image': backgroundImageUrl
        ? 'url(' + backgroundImageUrl + ')'
        : 'url(' + 'assets/app-logo-2.png' + ')',
      'background-color': backgroundImageUrl ? 'transparent' : '#d1d5db'
    }"
  >
    <ng-content></ng-content>
    <div
      class="absolute top-1/2 transform -translate-y-1/2 flex items-center gap-4 w-full justify-center sm:justify-start sm:right-4 sm:w-auto organization-badge"
    >
      <p class="text-white font-bold text-4xl mix-blend-difference">
        {{ title }}
      </p>
      <p-avatar
        class="p-1 bg-[#ece9fc] text-[#2a1261] w-[100px] h-[100px] sm:w-[120px] sm:h-[120px] lg:w-[150px] lg:h-[150px] rounded-full"
        size="xlarge"
        shape="circle"
        [image]="logoUrl ? logoUrl : 'assets/app-logo-2.png'"
      />
    </div>
  </div>
</div>
