<div
  class="flex flex-col items-center justify-center px-4 py-6 space-y-6 w-[80vw] h-[85vh] sm:w-[80vw] sm:w-[60vh] md:w-[75vw] md:h-[80vh] lg:w-[50vw] lg:h-[65vh] xl:w-[50vw] xl:h-[70vh]"
>
  <!-- Member Details -->
  <div class="w-full max-w-lg flex justify-center">
    <app-member-details [member]="membership?.member"></app-member-details>
  </div>

  <!-- Membership Type Dropdown -->

  <div class="w-full flex justify-center">
    <app-membership-form
      [membership]="membership"
      [membershipForm]="membershipForm"
      [membershipTypes]="membershipTypes"
      [membershipStatuses]="membershipStatuses"
      [roles]="roles"
    ></app-membership-form>
  </div>

  <!-- Buttons -->
  <div class="w-full max-w-lg flex justify-center space-x-4">
    <p-button
      label="Update"
      icon="pi pi-check"
      size="small"
      [raised]="true"
      [rounded]="true"
      class="mb-2"
      [disabled]="membershipForm.invalid || membershipForm.pristine"
      (onClick)="onUpdateMembership()"
    />
    <p-button
      label="Cancel"
      icon="pi pi-times"
      size="small"
      severity="secondary"
      [raised]="true"
      [rounded]="true"
      (onClick)="cancelEditMembership()"
    />
  </div>
</div>
