:host ::ng-deep {
    .multiple-select-splitbutton-table .p-tieredmenu-overlay {
        position: absolute !important; 
        top: 100% !important; 
        left: -30px !important; 
        z-index: 9999; 
    }
}