<p-table
  *ngIf="table"
  [value]="table.rows ?? []"
  [paginator]="paginator"
  [rows]="rowsPerPage"
  [totalRecords]="totalRecords"
  [rowsPerPageOptions]="[5, 10, 20]"
  [first]="first"
  [(selection)]="selectedItems"
  [showCurrentPageReport]="true"
  (onPage)="pageChange($event)"
  dataKey="membershipId"
  [scrollable]="true"
  [tableStyle]="{ 'min-width': '50rem' }"
  [lazy]="true"
  [loading]="false"
  (onSort)="onSort($event)"
>
  <ng-template #header>
    <tr>
      <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
      <th
        *ngFor="let col of table.columns"
        [pSortableColumn]="col.dataField ?? ''"
      >
        {{ col.headerText }}
        <p-sortIcon [field]="col.dataField ?? ''" />
      </th>
    </tr>
  </ng-template>

  <ng-template #body let-rowData>
    <tr *ngIf="rowData">
      <td>
        <p-tableCheckbox [value]="rowData" />
      </td>
      <td
        *ngFor="let col of table?.columns"
        [style.text-align]="col.textAlign ? col.textAlign : 'left'"
      >
        <ng-container [ngSwitch]="col.dataType">
          <ng-container *ngSwitchCase="'templateRef'">
            <ng-container
              *ngTemplateOutlet="
                getTemplate(col.colTemplateRefName ?? 'defaultTemplate');
                context: { $implicit: rowData }
              "
            ></ng-container>
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{
              col.dataField ? getNestedProperty(rowData, col.dataField) : 'N/A'
            }}
          </ng-container>
        </ng-container>
      </td>
    </tr>
  </ng-template>

  <ng-template #footer>
    <div style="width: 4rem"></div>
  </ng-template>
  <ng-template #paginatorleft>
    <div class="m-2">
      <span>
        In total there are {{ totalRecords || 0 }}
        {{ tableFooterCountTitle }}(s).
      </span>
      <span class="ml-2">
        Selected Items {{ selectedItems?.length || 0 }}
        {{ tableFooterCountTitle }}(s).
      </span>
    </div>
  </ng-template>
  <ng-template #paginatorright>
    <p-button type="button" icon="pi pi-plus" text />
  </ng-template>
</p-table>
