<div class="m-0">
  <app-table
    [table]="table"
    [tableTitle]="title"
    [tableFooterCountTitle]="tableFooterCountTitle"
    [paginator]="true"
    [(totalRecords)]="totalRecords"
    [(rowsPerPage)]="rowsPerPage"
    [(first)]="first"
    (pageChangeTable)="pageChangeTable($event)"
    (sortChangeTable)="sortChangeTable($event)"
    (filterChangeTable)="filterChangeTable($event)"
    (clearFilterChangeTable)="clearFilterChangeTable()"
    [loading]="loading"
    [(sortField)]="sortField"
    [(sortOrder)]="sortOrder"
    dataKey="membershipId"
  >
    <!-- template for review button -->
    <ng-template #nameColumn let-row>
      <div style="display: flex; align-items: center">
        <p-avatar
          [image]="row['member']['profilePicUrl']"
          class="mr-2"
          size="large"
          shape="circle"
        />
        {{ row['member']['firstName'] + ' ' + row['member']['lastName'] }}
      </div>
    </ng-template>
    <ng-template #addressColumn let-row>
      {{
        row['member']['memberAddress']['city'] +
          ', ' +
          row['member']['memberAddress']['country']
      }}
    </ng-template>
    <ng-template #approveDenyColumn let-row>
      <p-button
        label="Approve"
        icon="pi pi-check"
        size="small"
        [raised]="true"
        [rounded]="true"
        styleClass="mr-2 mb-2 py-1"
        *ngIf="row['membershipStatus']['name'] === 'Pending'"
        (onClick)="approveJoinRequest(row)"
      />
      <p-button
        label="Deny"
        icon="pi pi-times"
        size="small"
        severity="danger"
        [raised]="true"
        [rounded]="true"
        styleClass="py-1"
        *ngIf="row['membershipStatus']['name'] === 'Pending'"
        (onClick)="denyJoinRequest(row)"
      />
    </ng-template>
  </app-table>
</div>
