<div class="avatar-container">
  <div
    class="image-container"
    *ngIf="file; else placeholder"
    [ngClass]="{ 'box-shadow-avatar': !!file }"
    [ngStyle]="{ backgroundImage: 'url(' + file + ')' }"
  ></div>

  <ng-template #placeholder>
    <div class="image-container avatar-placeholder"></div>
  </ng-template>

  <label for="avatar-input-file">
    <div class="icon-wrapper">
      <input
        type="file"
        id="avatar-input-file"
        accept="image/*"
        (change)="onFileChange($event)"
      />
      <i class="pi pi-pencil"></i>
    </div>
  </label>
</div>

<!-- PrimeNG Dialog that contains the Image Cropper -->
<p-dialog
  [(visible)]="dialogVisible"
  [modal]="true"
  [closable]="true"
  [responsive]="false"
  [style]="{ width: '60vw' }"
  styleClass="w-[60vw] h-[70vh] object-contain sm:w-[80vw] sm:h-[80vh]"
>
  <!-- Conditionally load the ImageCropper only when dialog is visible -->
  <app-image-cropper
    *ngIf="dialogVisible"
    [image]="image"
    (imageSelected)="onImageSelected($event)"
    (dialogClosed)="onDialogClose()"
  >
  </app-image-cropper>
</p-dialog>
