<div class="m-2">
  <p-card>
    <app-table
      [table]="table"
      [tableTitle]="title"
      [tableFooterCountTitle]="tableFooterCountTitle"
      [paginator]="true"
      [(totalRecords)]="totalRecords"
      [(rowsPerPage)]="rowsPerPage"
      [(first)]="first"
      (pageChangeTable)="pageChangeTable($event)"
      (sortChangeTable)="sortChangeTable($event)"
      [loading]="loading"
      [(sortField)]="sortField"
      [(sortOrder)]="sortOrder"
    >
      <ng-template #nameColumn let-row>
        <div style="display: flex; align-items: center">
          <p-avatar
            [image]="row['member']['profilePicUrl']"
            class="mr-2"
            size="large"
            shape="circle"
          />
          {{ row['member']['firstName'] + ' ' + row['member']['lastName'] }}
        </div>
      </ng-template>
      <ng-template #addressColumn let-row>
        {{
          row['member']['memberAddress']['city'] +
            ', ' +
            row['member']['memberAddress']['country']
        }}
      </ng-template>
      <ng-template #startDateColumn let-row>
        {{ row['startDate'] | date : 'MMMM d, y' }}
      </ng-template>
      <ng-template #endDateColumn let-row>
        {{ row['endDate'] | date : 'MMMM d, y' }}
      </ng-template>
    </app-table>
  </p-card>
</div>
