<div class="m-12">
  <p-dataview #dv [value]="organizations" layout="grid">
    <ng-template #list let-items>
      <div class="grid grid-cols-12 gap-4 grid-nogutter">
        <div
          class="col-span-12"
          *ngFor="let item of items; let first = first"
          class="col-span-12"
        >
          <div
            class="flex flex-col sm:flex-row sm:items-center p-6 gap-4"
            [ngClass]="{
              'border-t border-surface-200 dark:border-surface-700': !first
            }"
          >
            <div class="md:w-40 relative">
              <img
                class="block xl:block mx-auto rounded-border w-full"
                [src]="item.logoUrl"
                [alt]="item.name"
              />
              <!-- <p-tag
                [value]="item.inventoryStatus"
                class="absolute"
                styleClass="dark:!bg-surface-900"
                [style.left.px]="4"
                [style.top.px]="4"
              /> -->
            </div>
            <div
              class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6 pl-5"
            >
              <div
                class="flex flex-row md:flex-col justify-between items-start gap-2"
              >
                <div>
                  <div
                    class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2 mb-2"
                  >
                    {{ item.name }}
                  </div>
                  <!-- <span>
                    {{ item.description }}
                  </span> -->
                  <p
                    class="text-base font-semibold text-surface-900 dark:text-surface-0 mt-5"
                  >
                    <span class="pi pi-map-marker"></span>
                    {{
                      item.organizationAddress?.city +
                        ', ' +
                        item.organizationAddress?.country
                    }}
                  </p>
                </div>
              </div>
              <div class="flex flex-col md:items-end gap-6">
                <div class="flex flex-row-reverse md:flex-row gap-2">
                  <!-- <p-button icon="pi pi-heart" [outlined]="true" /> -->
                  <p-button
                    class="flex-auto md:flex-initial whitespace-nowrap"
                    label="View More"
                    size="small"
                    styleClass="px-4 py-1"
                    severity="help"
                    (onClick)="onClickOrganization(item)"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #grid let-items>
      <div class="grid grid-cols-12 gap-4">
        <div
          *ngFor="let product of items"
          class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3 xl:col-span-3 p-2"
        >
          <div
            class="p-6 border border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded flex flex-col h-full"
          >
            <div class="bg-surface-50 flex justify-center rounded p-4">
              <div class="relative mx-auto">
                <img
                  class="rounded w-full"
                  [src]="product.logoUrl"
                  [alt]="product.name"
                  style="max-width: 150px"
                />
              </div>
            </div>
            <div class="pt-6 flex-grow">
              <div class="flex flex-row justify-between items-start gap-2">
                <div>
                  <div class="text-lg font-medium mt-1">{{ product.name }}</div>
                  <p
                    class="text-base font-semibold text-surface-900 dark:text-surface-0 mt-2"
                  >
                    <span class="pi pi-map-marker"></span>
                    {{
                      product.organizationAddress?.city +
                        ', ' +
                        product.organizationAddress?.country
                    }}
                  </p>
                </div>
              </div>
            </div>
            <div class="flex flex-col md:items-end gap-6">
              <div class="flex flex-row-reverse md:flex-row gap-2">
                <p-button
                  class="flex-auto md:flex-initial whitespace-nowrap mt-2"
                  label="View More"
                  size="small"
                  styleClass="px-4 py-1"
                  severity="help"
                  (onClick)="onClickOrganization(product)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataview>
</div>

<div class="card flex justify-center">
  <p-dialog
    [header]="selectedOrganization?.name"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '50rem' }"
  >
    <div>
      <div class="flex justify-center w-full">
        <img
          class="w-48 h-48 object-contain"
          [src]="selectedOrganization?.logoUrl"
          alt="Logo"
        />
      </div>
      <div class="mt-2 flex items-center" *ngIf="selectedOrganization !== null">
        <span class="pi pi-envelope mr-2"></span>
        <span class="text-sm text-muted-color">
          {{ selectedOrganization?.email }}
        </span>
      </div>
      <div class="mt-2 flex items-center" *ngIf="selectedOrganization !== null">
        <span class="pi pi-phone mr-2"></span>
        <span class="text-sm text-muted-color">
          {{ selectedOrganization?.phoneNumber }}
        </span>
      </div>
      <div class="mt-2 flex items-center" *ngIf="selectedOrganization !== null">
        <span class="pi pi-globe mr-2"></span>
        <a
          href="{{ selectedOrganization?.websiteUrl }}"
          target="_blank"
          rel="noopener noreferrer"
          class="text-sm text-blue-600/100"
        >
          {{ selectedOrganization?.websiteUrl }}
        </a>
      </div>
    </div>
    <div class="mt-4 justify-center">
      <p class="my-2 font-semibold">About Us</p>
      <p>{{ selectedOrganization?.description }}</p>
    </div>
    <div class="mt-4 flex justify-center">
      <p-button
        class="flex-auto md:flex-initial whitespace-nowrap"
        label="Join Organization"
        size="small"
        styleClass="px-4 py-1"
        severity="help"
        (onClick)="joinOrganization()"
      />
    </div>
  </p-dialog>
</div>
