<div
  class="m-0 overflow-y-auto"
  infiniteScroll
  [infiniteScrollDistance]="0.8"
  [infiniteScrollThrottle]="400"
  (scrolled)="onScroll()"
  [infiniteScrollContainer]="getScrollContainer()"
>
  <p-dataview #dv [value]="organizations" layout="grid">
    <ng-template #grid let-organizations>
      <div class="grid grid-cols-12 gap-4">
        <div
          *ngFor="let organization of organizations"
          class="col-span-6 sm:col-span-6 md:col-span-4 lg:col-span-2 xl:col-span-2 p-2"
        >
          <app-organization-item-grid
            [organization]="organization"
            (organizationClickChanged)="onClickOrganization($event)"
          >
          </app-organization-item-grid>
        </div>
      </div>
    </ng-template>
  </p-dataview>

  <div class="grid grid-cols-12 gap-4" *ngIf="loading">
    <div
      *ngFor="let i of counterArray(); let first = first"
      class="col-span-6 sm:col-span-6 md:col-span-4 lg:col-span-2 xl:col-span-2 p-2 h-full"
    >
      <app-organization-item-grid-skeleton></app-organization-item-grid-skeleton>
    </div>
  </div>
</div>

<div class="card flex justify-center">
  <p-dialog
    [header]="selectedOrganization?.name"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '50rem' }"
  >
    <div>
      <div class="flex justify-center w-full">
        <img
          class="w-48 h-48 object-contain"
          [src]="selectedOrganization?.logoUrl"
          alt="Logo"
        />
      </div>
      <div class="mt-2 flex items-center" *ngIf="selectedOrganization !== null">
        <span class="pi pi-envelope mr-2"></span>
        <span class="text-sm text-muted-color">
          {{ selectedOrganization?.email }}
        </span>
      </div>
      <div class="mt-2 flex items-center" *ngIf="selectedOrganization !== null">
        <span class="pi pi-phone mr-2"></span>
        <span class="text-sm text-muted-color">
          {{ selectedOrganization?.phoneNumber }}
        </span>
      </div>
      <div class="mt-2 flex items-center" *ngIf="selectedOrganization !== null">
        <span class="pi pi-globe mr-2"></span>
        <a
          href="{{ selectedOrganization?.websiteUrl }}"
          target="_blank"
          rel="noopener noreferrer"
          class="text-sm text-blue-600/100"
        >
          {{ selectedOrganization?.websiteUrl }}
        </a>
      </div>
    </div>
    <div class="mt-4 justify-center">
      <p class="my-2 font-semibold">About Us</p>
      <div class="w-full max-w-full overflow-hidden">
        <div
          class="p-4 [&_*]:break-words [&_*]:whitespace-pre-line [&_*]:text-black"
        >
          <div [innerHTML]="selectedOrganization?.description"></div>
        </div>
      </div>
    </div>
    <div class="mt-4 flex justify-center">
      <p-button
        class="flex-auto md:flex-initial whitespace-nowrap"
        label="Join Organization"
        size="small"
        styleClass="px-4 py-1"
        severity="help"
        (onClick)="joinOrganization()"
        *ngIf="membership === null"
        [raised]="true"
      />
      <p-button
        class="flex-auto md:flex-initial whitespace-nowrap"
        label="You are already a member"
        size="small"
        styleClass="px-4 py-1"
        severity="success"
        *ngIf="membership && membership?.membershipType !== null"
        variant="text"
      />
      <p-button
        class="flex-auto md:flex-initial whitespace-nowrap"
        label="Request Pending"
        size="small"
        styleClass="px-4 py-1"
        severity="secondary"
        *ngIf="membership && membership?.membershipType === null"
        variant="text"
      />
    </div>
  </p-dialog>
</div>
