<!-- <p>{{ session?.permissions | json }}</p>
<p>{{ session?.permissions?.length | json }}</p>
<p>{{ session?.member?.memberId | json }}</p>
<p>{{ session?.selectedOrganizationId | json }}</p>
<p>{{ session?.organizationIdsOfMember | json }}</p> -->

<section class="bg-gray-50 dark:bg-gray-900 login-background"></section>

<p-menubar [model]="items">
  <ng-template #item let-item>
    <ng-container *ngIf="item.route; else urlRef">
      <a [routerLink]="item.route" class="p-menubar-item-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-container>
    <ng-template #urlRef>
      <a
        *ngIf="item.url; else noLink"
        [href]="item.url"
        class="p-menubar-item-link"
      >
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-template>
    <ng-template #noLink>
      <div class="p-menubar-item-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
        <span class="pi pi-fw pi-angle-down ml-2"></span>
      </div>
    </ng-template>
  </ng-template>
  <ng-template #end>
    <div class="flex items-center gap-2">
      <!-- <input type="text" pInputText placeholder="Search" class="w-36" /> -->
      <p-avatar
        image="https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/468322464_27550249341256083_8260339221376410602_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=r9-FOSZ6_d8Q7kNvgHJ1yoU&_nc_zt=23&_nc_ht=scontent-bru2-1.xx&_nc_gid=Ap-onMDZKq5iTFWRSOigh75&oh=00_AYBoCG7u91Xpg9dmK2LW6ly7O2DsQBnzYfXxOVAm2p9vLw&oe=67A82AC4"
        shape="circle"
        (click)="op.toggle($event)"
      />
    </div>
  </ng-template>
</p-menubar>

<p-popover #op>
  <div class="flex flex-col gap-4 w-[20rem]">
    <div>
      <p-card header="">
        <div class="flex items-center gap-2">
          <p-avatar
            image="https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/468322464_27550249341256083_8260339221376410602_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=r9-FOSZ6_d8Q7kNvgHJ1yoU&_nc_zt=23&_nc_ht=scontent-bru2-1.xx&_nc_gid=Ap-onMDZKq5iTFWRSOigh75&oh=00_AYBoCG7u91Xpg9dmK2LW6ly7O2DsQBnzYfXxOVAm2p9vLw&oe=67A82AC4"
            class="mr-2"
            shape="circle"
            size="large"
          />
          <div>
            <p class="m-0 font-bold">
              {{ session?.member?.firstName + ' ' + session?.member?.lastName }}
            </p>
            <p class="m-0 text-sm">{{ session?.member?.email }}</p>

            <p class="m-0 text-sm">{{ session?.role?.name }}</p>
          </div>
          <!-- <div class="flex items-center gap-2 text-muted-color ml-auto text-sm">
            <span>{{ session?.member?.phoneNumber }}</span>
          </div> -->
        </div>
      </p-card>
    </div>
    <div class="m-3">
      <div class="flex items-center">
        <div>
          <div class="flex items-center">
            <span class="pi pi-home mr-2"></span>
            <span class="text-sm text-muted-color">
              {{
                session?.member?.memberAddress?.street +
                  ' ' +
                  session?.member?.memberAddress?.city +
                  ' ' +
                  session?.member?.memberAddress?.provinceState +
                  ', ' +
                  session?.member?.memberAddress?.region +
                  ', ' +
                  session?.member?.memberAddress?.country
              }}
            </span>
          </div>
          <div
            class="mt-2 flex items-center"
            *ngIf="session?.organization !== null"
          >
            <span class="pi pi-phone mr-2"></span>
            <span class="text-sm text-muted-color">
              {{ session?.member?.phoneNumber }}
            </span>
          </div>
          <p-divider />
          <div *ngIf="session?.organization === null" class="items-center">
            <p-card>
              <p class="font-normal flex items-center">
                You are not a member of any organization
              </p>
            </p-card>
          </div>
          <div *ngIf="session?.organization !== null">
            <span class="font-medium">Membership: </span>
            <p-card styleClass="mt-2 p-card-flat">
              <div class="flex flex-col items-center">
                <div class="flex items-center">
                  <img
                    class="w-8 h-9 mr-2"
                    [src]="session?.organization?.logoUrl"
                    alt="logo"
                  />
                  <span class="text-base font-medium text-muted-color">
                    {{ session?.organization?.name }}
                  </span>
                </div>
                <div class="flex items-center">
                  <span class="font-base mr-2">Member Since:</span>
                  <span class="text-sm text-muted-color">
                    {{ session?.membership?.startDate | date }}
                  </span>
                </div>
                <div class="flex items-center">
                  <span class="font-base mr-2">Ends on:</span>
                  <span class="text-sm text-muted-color">
                    {{ session?.membership?.endDate | date }}
                  </span>
                </div>
                <div class="flex items-center">
                  <span class="mr-2">Status:</span>
                  <span class="text-sm text-muted-color">
                    {{ session?.membership?.status }}
                  </span>
                </div>
                <div class="flex items-center">
                  <p-button
                    label="More details"
                    variant="text"
                    severity="info"
                    size="small"
                  />
                </div>
              </div>
            </p-card>
          </div>

          <div class="space-y-4 md:space-y-6">
            <p-button
              icon="pi pi-sign-out"
              label="Logout"
              severity="secondary"
              styleClass="w-full mt-4"
              (onClick)="onClickLogout()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</p-popover>
