.organization-badge-tabs {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 40; /* Higher than sticky-tabs */
  padding: 10px;
}

.sticky-tabs {
  position: sticky;
  top: 67px; /* Ensures it appears below the badge */
  background-color: white;
  z-index: 40; /* Lower than organization-badge-tabs */
  transition: padding 0.3s, font-size 0.3s;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.organization-badge-tabs {
  animation: fadeIn 0.2s ease-in-out;
}

.organization-badge-tabs.ng-leave {
  animation: fadeOut 0.3s ease-in-out;
}