<app-organization [organization]="organization" [membership]="membership">
  <div class="join-organization-button absolute right-0 py-3">
    <p-button
      class="flex-auto md:flex-initial whitespace-nowrap"
      label="Join"
      size="small"
      styleClass="px-4 py-1"
      severity="help"
      icon="pi pi-plus"
      (onClick)="joinOrganization()"
      *ngIf="membership === null"
      [raised]="true"
    />
    <p-button
      class="flex-auto md:flex-initial whitespace-nowrap"
      label="You are a member"
      size="small"
      styleClass="px-4 py-1"
      severity="success"
      icon="pi pi-check"
      *ngIf="membership && membership?.membershipType !== null"
    />
    <p-button
      class="flex-auto md:flex-initial whitespace-nowrap"
      label="Request Pending"
      size="small"
      styleClass="px-4 py-1"
      severity="secondary"
      icon="pi pi-clock"
      *ngIf="membership && membership?.membershipType === null"
    />
  </div>
</app-organization>
